
## All of the settings below are optional
## Uncomment to specify a value

## workspace to save downloaded files
# WORKSPACE_DIR = 'workspace

## Embedding models
## Find embedding models: https://huggingface.co/spaces/mteb/leaderboard

# EMBEDDING_MODEL = 'intfloat/multilingual-e5-small'
# EMBEDDING_LENGTH = 384

# EMBEDDING_MODEL = 'ibm-granite/granite-embedding-30m-english'
# EMBEDDING_LENGTH = 384

# EMBEDDING_MODEL = 'ibm-granite/granite-embedding-107m-multilingual'
# EMBEDDING_LENGTH = 384

# EMBEDDING_MODEL = 'BAAI/bge-small-en-v1.5'
# EMBEDDING_LENGTH = 384




## Chunking
# CHUNK_SIZE = 512
# CHUNK_OVERLAP = 20

## API Keys
# REPLICATE_API_TOKEN=xyz