docling

nest_asyncio

# Milvus
pymilvus
milvus-lite

## Weaviate DB
# weaviate-client



## --- llama-index
llama-index
llama-index-embeddings-huggingface
llama-index-llms-replicate
llama-index-llms-ollama
llama-index-vector-stores-milvus

## --- UI - flask
flask

## utils
humanfriendly
pandas
mimetypes-magic
tqdm
ipykernel


# UI - chainlit
chainlit