## Data prep toolkit
data-prep-toolkit-transforms[html2parquet]==1.1.0
data-prep-toolkit-transforms[web2parquet]==1.1.0
data-prep-connector
trafilatura

docling

nest_asyncio

# Milvus
pymilvus==2.5.5
milvus-lite==2.4.11

## Weaviate DB
# weaviate-client



## --- llama-index
llama-index
llama-index-embeddings-huggingface
llama-index-llms-replicate
llama-index-llms-ollama
llama-index-vector-stores-milvus==0.5.0

## --- flask
flask==2.3.3

## utils
humanfriendly
pandas
mimetypes-magic
tqdm
ipykernel

# UI - chainlit
chainlit